[bumpversion]
current_version = 9.2.0
commit = True
tag = True
tag_name = v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = 
	{major}.{minor}.{patch}

[bumpversion:file:pom.xml]
search = <version>{current_version}</version>
replace = <version>{new_version}</version>

[bumpversion:file:./pom.xml]
search = <tag>v{current_version}</tag>
replace = <tag>v{new_version}</tag>
